flows (1).json
[{"id":"70dba52d.deac7c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce9cfac4.61a458","type":"ui_form","z":"70dba52d.deac7c","name":"","label":"","group":"7a0d07ce.c13c68","order":1,"width":0,"height":0,"options":[{"label":"enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["284860f2.c9d9"]]},{"id":"284860f2.c9d9","type":"function","z":"70dba52d.deac7c","name":"input parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":140,"wires":[["b6b73a8e.db3e58","33360d0a.888112"]]},{"id":"b6b73a8e.db3e58","type":"ui_text","z":"70dba52d.deac7c","group":"7a0d07ce.c13c68","order":2,"width":0,"height":0,"name":"","label":"user input","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":280,"wires":[]},{"id":"33360d0a.888112","type":"watson-conversation-v1","z":"70dba52d.deac7c","name":"SMART HR","workspaceid":"f89e1aac-578f-48a2-a5d1-fa909b2c8811","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/5833281e-c3cb-4372-966f-f8f49f6866d1","timeout":"","optout-learning":false,"x":430,"y":120,"wires":[["7dbaa70b.7b1be8","718206f6.497798"]]},{"id":"7dbaa70b.7b1be8","type":"debug","z":"70dba52d.deac7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]},{"id":"718206f6.497798","type":"function","z":"70dba52d.deac7c","name":"Output parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title+\n    \"\\n\"+msg.payload.output.generic[0].description\n    \n}\nelse{\n    msg.url=\"https://miro.medium.com/max/700/1*c-zdhoIN-jGaWFjsF8PVIQ.jpeg\"\n    msg.payload =msg.payload.output.text[0]\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":80,"wires":[["3ba72340.3758fc","f8784989.d2eb98","b6f36201.82e74"]]},{"id":"3ba72340.3758fc","type":"ui_text","z":"70dba52d.deac7c","group":"7a0d07ce.c13c68","order":3,"width":0,"height":0,"name":"","label":"HR response","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":120,"wires":[]},{"id":"f8784989.d2eb98","type":"ui_audio","z":"70dba52d.deac7c","name":"","group":"7a0d07ce.c13c68","voice":"en-GB","always":"","x":820,"y":200,"wires":[]},{"id":"b6f36201.82e74","type":"ui_template","z":"70dba52d.deac7c","group":"7a0d07ce.c13c68","name":"","order":4,"width":"6","height":"6","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":60,"wires":[[]]},{"id":"7a0d07ce.c13c68","type":"ui_group","z":"","name":"AI-Recuriter","tab":"6f89a1d1.e0161","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f89a1d1.e0161","type":"ui_tab","z":"","name":"SMART HR","icon":"dashboard","disabled":false,"hidden":false}]